#holder {
    height: auto;
    width:250px;
}

#top {
    width:248px;
    height: 30px;
    border: 1px solid #333;}
#holder p {

    border-left: 1px solid #333;
    border-right: 1px solid #333;
    padding: 10px 15px;
    margin:0;

}

#bottom {
  width:248px;
  height: 10px;
  border: 1px solid #333;
}
